IO_LOC  "clock" 52;
IO_PORT "clock" PULL_MODE=UP IO_TYPE=LVCMOS33;

IO_LOC  "reset" 3;
IO_PORT "reset" PULL_MODE=DOWN;

IO_LOC  "memory[0]" 69;
IO_PORT "memory[0]" PULL_MODE=UP;
IO_LOC  "memory[1]" 68;
IO_PORT "memory[1]" PULL_MODE=UP;
IO_LOC  "memory[2]" 55;
IO_PORT "memory[2]" PULL_MODE=UP;
IO_LOC  "memory[3]" 56;
IO_PORT "memory[3]" PULL_MODE=UP;

IO_LOC  "clk_led" 10;
IO_PORT "clk_led" PULL_MODE=UP DRIVE=8;
IO_LOC  "reg_led" 11;
IO_PORT "reg_led" PULL_MODE=UP DRIVE=8;
IO_LOC  "pc_led"  13;
IO_PORT "pc_led" PULL_MODE=UP DRIVE=8;